body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
  color: #111;
  background: #edeff0 url("svgs/background.svg");
}

#container {
  max-width: 960px;
  background: #fff;
  margin: 0 auto;
  height: 100%; /* new line */
}

p {
  max-width: 350px;
  margin: 35px auto 0;
  line-height: 2em;
  text-align: left;
}

a {
  text-decoration: none;
  color: #39add1;
  font-weight: 700;
}

a:hover {
  color: #111;
}

header {
  padding-top: 10px;
}

header nav {
  padding-bottom: 50px;
  text-align: left;
}

header nav ul li {
  display: inline-block;
  margin-right: 20px;
  color: #39ADD1;
  font-weight: bold;
}

header nav ul li:hover {
  color: yellow;  
}

header nav ul li:hover path {
  fill: yellow;
}

header nav ul li svg {
  height: .9em;
  margin-right: 10px;
}

#logo {
  width: 140px;
  height: 120px;
  margin: 0 auto;
}

#logo svg g:nth-of-type(2) {
  display: none;
}

main {
  padding-top: 50px;
}

main h2 {
  font-size: 28px;
}

.corgi {
  width: 20%;
  margin: 0 2%;
}

.sable {
  color: rgb(185, 127, 91);
}

.fawn {
  color: rgb(233, 170, 130);
}

.red {
  color: rgb(131, 75, 41);
}

.stone {
  color: rgb(82, 89, 94);
}


footer {
  width: 100%;
  margin-top: 100px;
  padding-bottom: 30px;
  color: #ba8058;
}

@media (min-width: 425px) {
  #logo_text {
    display: none;
  }
  
  #logo svg g:nth-of-type(2) {
    display: initial;
  }
  
}